/* Общие стили */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  margin: 0;
  min-height: 100%; /* Заполняем всю высоту экрана */
}
/* Контейнеры */
.container-light, .container-dark, .container {
  min-width: 1835px;
  min-height: 950px;
  text-align: center;
}


.container-light {
  background: #fff;
}

.container-dark {
  background: #333;
  color: #fff;
}



.button:hover {
  background: #0056b3;
}

/* Медиа-запросы для адаптивного дизайна */
@media (max-width: 768px) {
  .container-light, .container-dark, .container {
    padding: 10px; /* Уменьшаем отступы на мобильных устройствах */
  }
}


